.box {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  justify-items: center;
  align-items: center;
}

.item {
  background-color: lightgray;
  width: 80%;
  height: 80%;
}

.active {
  background-color: gray;
}
