.shop-list-wrapper {
  min-height: 100%;
}

.total {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 50px;
  padding: 10px 0;
  width: calc(100% - 40px);
}

.money {
  color: rgb(238, 10, 36);
  font-size: 18px;
}
